{% extends 'helium::layouts/default' %}

{% block content %}
    <h1>{{ config.table.title }}</h1>
    <table class="w-full">
        <thead>
            {% for column in config.table.columns %}
                <th class="text-left">{{ column.label }}</th>
            {% endfor %}
        </thead>
        <tbody>
            {% for entry in entries %}
                <tr>
                    {% for column in config.table.columns %}
                        <td>{{ entry.attribute(column.value) }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
