{% if action.submit %}
    <button type="submit" name="helium_action" value="{{ action.action }}"
{% else %}
    <a href="{{ action.url|resolve(entry) }}"
{% endif %}
    class="inline-flex px-4 py-2 text-white bg-blue-900 rounded hover:bg-blue-800"
>
    {% if action.iconClass %}
        <div class="w-5">
            <i class="{{ action.iconClass }}" aria-hidden="true"></i>
        </div>
    {% endif %}
    {{ action.label }}
{% if action.submit %}
    </button>
{% else %}
    </a>
{% endif %}
