{% extends "helium::partials.link" %}

{% set withinForm = action.method == 'post' and form is empty %}

{% block tag %}
    {% if withinForm %}
        {% block form %}
            <form action="{{ action.url|resolve(entry) }}" method="{{ action.method }}">
                {{ csrf_field() }}
                {% block formInputs %}{% endblock %}
        {% endblock %}
    {% endif %}
    <button type="submit" name="helium_action" value="{{ action.actionData({entryId: entry.id}) }}"
{% endblock %}

{% block endTag %}
    </button>
    {% if withinForm %}
        </form>
    {% endif %}
{% endblock %}
