{% extends "helium::partials.link" %}

{% block tag %}
    {% if not withinForm and action.method|lower == 'post' %}
        {% block actionForm %}
            <form action="{{ action.url|resolve(entry) }}" method="{{ action.method }}">
                {{ csrf_field() }}
                {% block formInputs %}{% endblock %}
        {% endblock %}
    {% endif %}
    <button type="submit" name="helium_action" value="{{ action.actionData({entryId: entry.id}) }}"
{% endblock %}

{% block endTag %}
    </button>
    {% if not withinForm and action.post %}
        </form>
    {% endif %}
{% endblock %}
