<div class="helium-repeater-form relative w-full py-4 px-5 border rounded-lg bg-white mt-2 border-gray-300
    {{ field.containerClasses }}"
>
    <div class="absolute top-2 right-2 helium-repeater-remove">
        <i class="text-lg cursor-pointer fas fa-times-circle hover:text-red-800"></i>
    </div>

    {% for repeater_field in field.fields %}
        <div class="mb-4">
            {% include repeater_field.view with {
                field: repeater_field,
                entry: entry,
                formPath: formPath
            } %}
        </div>
    {% endfor %}
    <input type="hidden"
        name="{{ 'id'|field_name(formPath) }}"
        id="{{ 'id'|field_id(formPath) }}"
        value="{{ entry.attribute(field.relatedId) }}"
    >
</div>
