@layer components {
    .helium-tab {
        @apply py-2 px-8 font-bold text-blue-900 rounded-l min-w-[180px] max-w-[250px] hover:bg-gray-200;

        &.active {
            @apply text-white bg-blue-900;

            &.error {
                @apply text-white bg-red-700;
            }
        }

        &.error {
            @apply text-red-700;

            & .error-icon {
                @apply inline-block;
            }
        }
    }
}

@layer utilities {
    @keyframes move-to {
        from {
            transform: translateY( var(--animStart) );
        }
        to {
            transform: translateY(0px);
        }
    }
    @keyframes shrink-out {
        from {
            transform: scale(1);
            transform-origin: top center;
            max-height: var(--animStart);
            opacity: 1;
        }
        to {
            transform: Scale(0);
            transform-origin: top center;
            max-height: 0;
            opacity: 0;
        }
    }
    @keyframes grow-in {
        from {
            transform: scale(0);
            transform-origin: top center;
            max-height: 0;
            opacity: 0;
        }
        to {
            transform: Scale(1);
            transform-origin: top center;
            max-height: var(--animEnd);
            opacity: 1
        }
    }
}
