<div class="form-group toggle-checkbox">
    <label for="{{ field.id }}">
        <div class="label">{{ field.label }}</div>
        <div class="switch">
            <input type="hidden" value="0" name="{{ field.name }}"/>
            <input
                {% include "helium::input.common.attributes" %}
                {{ old(field.name, field.value) ? 'checked' }}
            >
            <div class="slider"></div>
        </div>
    </label>
</div>
