<div class="form-group">
    {% include "helium::input.common.label" %}
    <input
        {% include "helium::input.common.attributes" %}
        value="{{ old(field.name, field.value) }}"
        data-config="{{ field.getConfigAttribute('flatpickr')|json_encode }}"
    >
</div>
