{% if field.label is not empty %}
    <label class="helium-field-label block w-full text-lg font-bold mb-2
        {{ field.labelClasses }}"
        for="{{ field.id }}"
    >
        {{ field.label }}
        {% if field.required %}
            <span class="text-red-700">*</span>
        {% endif %}
    </label>
{% endif %}
