<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ asset('vendor/helium/css/helium.css') }}">
        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-mutate-approach="sync"></script>
        <script src="{{  asset('vendor/helium/js/helium.js') }}" defer></script>

        <!-- Start Template Meta -->
        {% block templateMetaBlock %}{% endblock %}
        <!-- End Template Meta -->
    </head>
    <body>
        <div class="flex min-h-screen">
            <div class="z-10 w-56 overflow-auto text-white shadow-2xl bg-gradient-to-bl from-gray-800 to-gray-600">
                {% include "helium::partials/nav" %}
            </div>
            <div class="flex-1 min-h-full p-8 bg-gradient-to-b from-gray-300 to-gray-100">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
